dist: trusty
language: ruby
cache:
  bundler: true
  directories:
    - node_modules
  yarn: true
rvm:
  - 2.4.0
install:
  - bundle install
  - nvm install node
  - node -v
  - npm i -g yarn
  - yarn
before_script:
  - yarn
  - bundle exec rails db:migrate RAILS_ENV=test
  - bundle exec rails db:seed RAILS_ENV=test
script:
  - yarn run lint
